body {
  background: url(../assets/rickandmorty.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 7.0rem;
    font-family: $heading-font;
    color: $logo-primary;
    text-shadow: 3px 5px 5px $logo-secondary;
    text-transform: uppercase;
    margin-bottom: 0.5%;
  }
  h2 {
    font-size: 3.5rem;
    font-family: $body-font;
    margin: 4% auto 0;
  }
}

// media breakpoints

@media (max-width: $laptop){
    header {
      h1 {
        font-size: 6.0rem;
      }
      h2 {
        margin-bottom: 0;
      }
    }

}

@media (max-width: $tablet){
  .wrapper {
    width: 80%;
  }
    header {
      h1 {
        font-size: 5.0rem
      }
      h2 {
        font-size: 2.0rem;
      }
    }
}

@media (max-width: $mobile){
  .wrapper {
    width: 90%;
  }
  header {
    h1 {
      font-size: 4.0rem;
      margin-top: 10%;
    }
    h2 {
      font-size: 2.0rem;
      margin-bottom: 18%;

    }
  }
}
