// main styles

main {
  button {
    padding: 1.7% 0;
    width: 50%;
    border-radius: 5px;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.801);
    color: #F8FAFC;
    margin: 1.7% 0;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #421919;
    font-family: $button-font;
  }
  &:hover {
    background: rgba(0,0,0,0.95);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.textDisplay {
  margin: 2rem auto;
  /* border: 1px solid red; */
  font-family: $body-font;
  font-size: 1.9rem;
  padding: 0 4%;
  margin: 0 auto;
  text-align: center;
}
.displayIpsumText {
  /* border: 1px solid yellow; */
  padding: 2% 4%;
}
.textDisplayButtons {
  display: flex;
  margin: 0 auto 5%;
  justify-content: space-between;
  width: 70%;
  button {
    width: 49%;
  }
}
#words {
  margin: 0.5% auto;
}
#sentenceButton, #paragraphButton {
  font-weight: bold;
}
#sentenceButton {
  border: 5px solid lighten($morty-secondary, 20%);
  background: rgba($morty-primary, 0.8);
  color: $morty-alt;
}
#paragraphButton {
  border: 5px solid lighten($logo-primary, 30%);
  background: rgba($rick-secondary, 0.8);
  margin-bottom: 20%;
}
.c-137 {
  font-family: $body-font;
  font-size: 1.7rem;
}

// media breakpoints

@media (max-width: $laptop){
    main {
      button {
        font-size: 1.4rem;
        width: 75%;
        padding: 3.5% 0;
      }
    }
}

@media (max-width: $tablet){
  .textDisplay {
    font-size: 1.47rem;
  }
  main {
    button {
      padding: 6.5% 0;
      font-size: 1.4rem;
    }
  }
}

@media (max-width: $mobile){
  .textDisplay {
    font-size: 1.15rem;
  }
  #paragraphButton {
    margin-bottom: 15%;
  }
  .textDisplayButtons {
    margin: 0 auto 15%;
  }

}
